<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.system.dao.ApiContentDao">

	<select id="get" resultType="com.bootdo.system.domain.ApiContentDO">
		select `id`,`api_url`,`api_desc`,`request_mode`,`request_cost`,`status`,`gtm_create`,`gtm_modified` from system_api_content where id = #{value}
	</select>
	
	<select id="list" resultType="com.bootdo.system.domain.ApiContentDO">
		select `id`,`api_url`,`api_desc`,`request_mode`,`request_cost`,`status`,`gtm_create`,`gtm_modified` from system_api_content
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="apiUrl != null and apiUrl != ''"> and api_url = #{apiUrl} </if>
		  		  <if test="apiDesc != null and apiDesc != ''"> and api_desc = #{apiDesc} </if>
		  		  <if test="requestMode != null and requestMode != ''"> and request_mode = #{requestMode} </if>
		  		  <if test="requestCost != null and requestCost != ''"> and request_cost = #{requestCost} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="gtmCreate != null and gtmCreate != ''"> and gtm_create = #{gtmCreate} </if>
		  		  <if test="gtmModified != null and gtmModified != ''"> and gtm_modified = #{gtmModified} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from system_api_content
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="apiUrl != null and apiUrl != ''"> and api_url = #{apiUrl} </if>
		  		  <if test="apiDesc != null and apiDesc != ''"> and api_desc = #{apiDesc} </if>
		  		  <if test="requestMode != null and requestMode != ''"> and request_mode = #{requestMode} </if>
		  		  <if test="requestCost != null and requestCost != ''"> and request_cost = #{requestCost} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="gtmCreate != null and gtmCreate != ''"> and gtm_create = #{gtmCreate} </if>
		  		  <if test="gtmModified != null and gtmModified != ''"> and gtm_modified = #{gtmModified} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.system.domain.ApiContentDO">
		insert into system_api_content
		(
			`id`, 
			`api_url`, 
			`api_desc`, 
			`request_mode`, 
			`request_cost`, 
			`status`, 
			`gtm_create`, 
			`gtm_modified`
		)
		values
		(
			#{id}, 
			#{apiUrl}, 
			#{apiDesc}, 
			#{requestMode}, 
			#{requestCost}, 
			#{status}, 
			#{gtmCreate}, 
			#{gtmModified}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.system.domain.ApiContentDO">
		update system_api_content 
		<set>
			<if test="apiUrl != null">`api_url` = #{apiUrl}, </if>
			<if test="apiDesc != null">`api_desc` = #{apiDesc}, </if>
			<if test="requestMode != null">`request_mode` = #{requestMode}, </if>
			<if test="requestCost != null">`request_cost` = #{requestCost}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="gtmCreate != null">`gtm_create` = #{gtmCreate}, </if>
			<if test="gtmModified != null">`gtm_modified` = #{gtmModified}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from system_api_content where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from system_api_content where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	
	<select id="listAllApi" resultType="com.bootdo.system.domain.ApiContentDO">
		select `api_url`,`api_desc`,`request_mode`,`request_cost` from system_api_content
	</select>
	
	<select id="listAllEnabledUrl" resultType="string">
		select DISTINCT t.api_url from system_api_content t where t.`status`='1'
	</select>
</mapper>