<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.dao.MessageDao">
	<resultMap id="BaseResultMap" type="com.test.domain.MessageDO">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="msg_no" jdbcType="VARCHAR" property="msgNo" />
		<result column="iphone_no" jdbcType="VARCHAR" property="iphoneNo" />
		<result column="msg_content" jdbcType="VARCHAR" property="msgContent" />
		<result column="msg_time" jdbcType="INTEGER" property="msgTime" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
	</resultMap>
	<select id="get" resultMap="BaseResultMap">
		select `id`,`msg_no`,`iphone_no`,`msg_content`,`msg_time`,`status`,`create_by`,`create_date`,`update_by`,`update_date` from sms_message where id = #{value}
	</select>

	<select id="list" resultMap="BaseResultMap">
		select `id`,`msg_no`,`iphone_no`,`msg_content`,`msg_time`,`status`,`create_by`,`create_date`,`update_by`,`update_date` from sms_message

        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="msgNo != null and msgNo != ''"> and msg_no = #{msgNo} </if>
		  		  <if test="iphoneList != null and iphoneList.size()>0"> and iphone_no in
					  <foreach item="item"  index="index"  open="(" separator=","  close=")" collection="iphoneList">
						  #{item}
					  </foreach>
		  		   </if>
		  		  <if test="msgContent != null and msgContent != ''"> and msg_content = #{msgContent} </if>
		  		  <if test="msgTime != null"> and unix_timestamp(msg_time)  &lt; #{msgTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sms_message
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="msgNo != null and msgNo != ''"> and msg_no = #{msgNo} </if>
		  		  <if test="iphoneNo != null and iphoneNo != ''"> and iphone_no = #{iphoneNo} </if>
		  		  <if test="msgContent != null and msgContent != ''"> and msg_content = #{msgContent} </if>
		  		  <if test="msgTime != null and msgTime != ''"> and msg_time = #{msgTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.test.domain.MessageDO">
		insert into sms_message
		(
			`id`, 
			`msg_no`, 
			`iphone_no`, 
			`msg_content`, 
			`msg_time`, 
			`status`, 
			`create_by`, 
			`create_date`, 
			`update_by`, 
			`update_date`
		)
		values
		(
			#{id}, 
			#{msgNo}, 
			#{iphoneNo}, 
			#{msgContent}, 
			#{msgTime}, 
			#{status}, 
			#{createBy}, 
			#{createDate}, 
			#{updateBy}, 
			#{updateDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.test.domain.MessageDO">
		update sms_message 
		<set>
			<if test="msgNo != null">`msg_no` = #{msgNo}, </if>
			<if test="iphoneNo != null">`iphone_no` = #{iphoneNo}, </if>
			<if test="msgContent != null">`msg_content` = #{msgContent}, </if>
			<if test="msgTime != null">`msg_time` = #{msgTime}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sms_message where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sms_message where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>