<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.dao.TestUserDao">
	<resultMap id="BaseResultMap"
		type="com.test.domain.TestUserDO">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_code" jdbcType="VARCHAR"
			property="userCode" />
	</resultMap>
	<select id="get" resultMap="BaseResultMap">
		select `id`,`user_code` from
		sys_test_user where id = #{value}
	</select>

	<select id="list" resultMap="BaseResultMap">
		select `id`,`user_code` from sys_test_user
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="userCode != null and userCode != ''"> and user_code = #{userCode} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from sys_test_user
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="userCode != null and userCode != ''"> and user_code = #{userCode} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.test.domain.TestUserDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_test_user
		(
		`user_code`
		)
		values
		(
		#{userCode}
		)
	</insert>

	<update id="update" parameterType="com.test.domain.TestUserDO">
		update sys_test_user
		<set>
			<if test="userCode != null">`user_code` = #{userCode}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from sys_test_user where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_test_user where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

</mapper>